@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
  font-family: ProximaNova-Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  background: #ffff;
  position: relative;
  height: 100%;
  -ms-touch-action: auto;
      touch-action: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #00c4b3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button {
  cursor: pointer;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 30px;
  background: #00C4B3;
  border: 1px solid #00C4B3;
  outline: none;
  color: #fff;
}

.button:hover {
  color: #000;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: #242E51;
}

.color {
  overflow: hidden;
  z-index: 10;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #fff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.header__logo {
  font-family: Montserrat-Medium;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-transform: uppercase;
  color: #242E51;
}

.header__logo:hover {
  color: #242E51;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin: 0 71px 0 0;
}

.header__nav-item li:not(:last-child) {
  margin: 0 43px 0 0;
}

.header__nav-link {
  font-size: 14px;
}

.header__nav-link:hover {
  color: #00C4B3;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__number {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #242E51;
}

.header__number-hover:hover {
  color: #00C4B3;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__mobile-menu {
  display: none;
}

.header__line {
  height: 2px;
  width: 100%;
  background-color: rgba(36, 46, 81, 0.2);
}

.header__mobile-clouse {
  display: none;
}

.head {
  padding-top: 110px;
  height: 100vh;
}

.head__heading {
  font-size: 40px;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.head__heading {
  text-align: center;
  background: #274C9D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet {
  background: #fff;
}

.catalog-block {
  padding-top: 140px;
}

.catalog__about {
  display: block;
  padding-top: 30px;
  color: #00c4b3;
}

.catalog__content {
  margin-top: 81px;
}

.catalog-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-slider__image {
  width: 100%;
}

.catalog-slider__left {
  width: 50%;
}

.catalog-slider__heading {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.catalog-slider__text {
  width: 70%;
}

.catalog__text {
  font-size: 16px;
  line-height: 105%;
}

.catalog__text-top {
  margin: 20px 0;
}

.catalog-slider__button {
  margin-top: 70px;
}

.catalog-slider__right {
  position: relative;
  width: 50%;
}

.catalog-image {
  width: 90%;
  height: 350px;
}

.catalog-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.catalog__slider-button {
  z-index: 5;
  position: absolute;
  top: 40%;
}

.slider-button__right {
  right: 0;
}

.fa-angle-right {
  font-size: 30px;
  color: #00C4B3;
}

.slider-button__left {
  font-size: 30px;
  color: #00C4B3;
}

.catalog__menu {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog__menu::-webkit-scrollbar {
  width: 0;
}

.catalog__menu-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__menu-list {
  width: 205px;
}

.catalog__menu-list:not(:last-child) {
  margin: 0 10px 0 0;
}

.catalog__line {
  width: 80%;
  height: 2px;
  background-color: #C4C4C4;
}

.catalog__min-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #C4C4C4;
  padding: 10px 0;
}

.catalog__min-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.mobile {
  display: none;
}

.catalog-slider {
  display: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.background .catalog__line {
  background-color: #000;
}

.background .catalog__min-text {
  color: #000;
}

.background .catalog__min-heading {
  color: #000;
}

.fa-long-arrow-right {
  margin-left: 48px;
}

.form {
  background: #274C9D;
  color: #fff;
  margin-top: 194px;
}

.form-block {
  padding: 106px 0;
}

.form__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__content {
  width: 50%;
}

.form__heading {
  width: 80%;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.form__text {
  font-size: 16px;
  line-height: 120%;
  margin-top: 14px;
}

.form__text-info {
  margin-top: 145px;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #00C4B3;
}

.form__shipment {
  width: 50%;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input > * {
  margin-bottom: 37px;
}

.form__input-style {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  outline: none;
  color: #fff;
  padding: 0 0 15px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

.form__input-style::-webkit-input-placeholder {
  color: #fff;
  padding-bottom: 15px;
}

.form__input-style::-moz-placeholder {
  color: #fff;
  padding-bottom: 15px;
}

.form__input-style:-ms-input-placeholder {
  color: #fff;
  padding-bottom: 15px;
}

.form__input-style::-ms-input-placeholder {
  color: #fff;
  padding-bottom: 15px;
}

.form__input-style::placeholder {
  color: #fff;
  padding-bottom: 15px;
}

.form__push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.form__police {
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.form__police-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.form__button-submit:hover {
  color: #fff;
}

.block-info {
  padding-top: 120px;
}

.form__line {
  width: 100%;
  height: 9px;
  background: #00C4B3;
  margin: 55px 0 0 0;
}

.info__item {
  padding: 70px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F8FA;
}

.info__content {
  width: 50%;
}

.info__min-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 105%;
}

.info-text__size {
  width: 80%;
}

.info-text {
  margin-bottom: 20px;
}

.info__text-top {
  margin-top: 74px;
}

.info__button {
  margin-top: 45px;
}

.info__video {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info__video-content {
  width: 100%;
}

.info__play {
  position: absolute;
  cursor: pointer;
}

.info__open-button {
  display: none;
}

.production-block {
  padding-top: 140px;
}

.production__video {
  margin-top: 55px;
  width: 100%;
  position: relative;
}

.production__video-content {
  width: 100%;
}

.production__play {
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 48%;
}

.clouse {
  display: none;
}

.production__heading-min {
  margin-top: 43px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 110%;
  color: #363636;
}

.production__text-top {
  margin: 43px 0 53px 0;
  line-height: 105%;
}

.product__text-margin {
  display: block;
  margin-top: 30px;
}

.production__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.production__item-heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: #274C9D;
}

.production__item-text {
  margin-top: 50px;
  width: 80%;
}

.order-block {
  padding-top: 140px;
}

.order__heading {
  margin-bottom: 65px;
}

.order__list {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__item {
  width: 20%;
}

.order__number-id {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #274C9D;
}

.order__item-heading {
  margin-top: 24px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.order__item-text {
  margin-top: 12px;
  font-weight: normal;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.8);
}

.order__button {
  margin-top: 45px;
  width: 184px;
}

.price-block {
  padding-top: 140px;
}

.price__content {
  background: #F6F8FA;
  padding: 86px 50px;
}

.price__text {
  margin-top: 75px;
  line-height: 105%;
}

.price__text-margin {
  display: block;
  margin-top: 30px;
}

.price__list {
  margin-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__item {
  width: 30%;
}

.price__min-text {
  margin-top: 28px;
}

.question-block {
  padding-top: 140px;
}

.question__line {
  margin-top: 65px;
}

.question__info {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.question__text {
  width: 100%;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.question__text-lock {
  margin-top: 20px;
  display: none;
  font-style: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgba(0, 0, 0, 0.8);
}

.text__open {
  display: block;
}

.fa-angle-down {
  font-size: 35px;
}

.angle__clous {
  display: none;
}

.fa-angle-up {
  display: none;
  font-size: 35px;
  color: #00C4B3;
}

.angle__up {
  display: block;
}

.footer {
  background: #242E51;
}

.footer-block {
  padding: 70px 0;
}

.footer__line {
  background: #C1C1C1;
  opacity: 0.05;
}

.footer__content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  color: #fff;
}

.footer__logo:hover {
  color: #fff;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social {
  position: relative;
  margin-right: 100px;
}

.fa-telegram {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}

.fa-telegram:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #00c4b3;
}

.footer__police {
  position: absolute;
  bottom: 10px;
}

.footer__style {
  cursor: pointer;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.66;
  margin-top: 5px;
}

.footer__style:hover {
  color: #00c4b3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__menu {
  margin-top: 5px;
}

.footer__menu-heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__menu-list {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu-link {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer__contact {
  width: 30%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.footer__position {
  margin-top: 22px;
}

.neopren-block {
  padding-top: 140px;
}

.neopren__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.neopren__link {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #ADB3BE;
}

.neopren__link:hover {
  color: #00c4b3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.head__active {
  color: #000;
}

.neopren__content {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.neopren__slider {
  width: 50%;
}

.neopren-slider__right {
  width: 100%;
}

.neopren__text {
  width: 40%;
}

.neopren-min__heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}

.neopren-min__text {
  margin-top: 53px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 105%;
  color: #000000;
}

.neopren__slider-text {
  margin-top: 30px;
}

.image-block {
  padding-top: 131px;
}

.image-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image__left {
  width: 30%;
  margin-right: 21px;
}

.image__left-content {
  max-width: 420px;
  max-height: 259px;
  width: 100%;
  height: 100%;
  margin-top: 21px;
}

.margin__none {
  margin-top: 0;
}

.image__bottom {
  width: 70%;
}

.image__big {
  max-height: 547px;
  width: 100%;
  height: 100%;
}

.image__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.image__width {
  margin-top: 13px;
  min-width: 450px;
  padding-right: 21px;
}

.padding__none {
  padding-right: 0;
}

.image-mobile {
  display: none;
}

.image__open-text {
  cursor: pointer;
  margin-top: 50px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-angle-down {
  margin-left: 10px;
}

.reviews__block {
  padding-top: 140px;
  overflow: hidden;
}

.reviews-item {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews__image {
  width: 100%;
}

.neopren-reviews__button {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-button__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-angle-left {
  font-size: 30px;
  color: #00c4b3;
  margin-right: 270px;
}

.swiper-button-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-block {
  padding-top: 140px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__text {
  margin-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__text-heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #363636;
  margin-bottom: 9px;
}

.contact__text-info {
  font-size: 14px;
  line-height: 140%;
  color: #828282;
  margin-top: 5px;
}

.contact__social-info {
  margin-top: 37px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #363636;
}

.contact__social {
  margin-top: 14px;
}

.background {
  color: #000;
  font-size: 30px;
}

.contact__button {
  margin-top: 59px;
  width: 184px;
}

.contact__map {
  margin-top: 102px;
  width: 60%;
}

.contact__map-item {
  width: 100%;
  height: 352px;
}

.print-block {
  padding-top: 140px;
}

.print__content {
  margin-top: 86px;
}

.print__heading {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #242E51;
}

.pring-block__image {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.print__min-image {
  width: 30%;
  padding-right: 20px;
}

.print__image {
  margin-top: 20px;
  width: 100%;
  height: 259px;
}

.print__image-magin {
  margin-top: 0;
}

.print__big-image {
  width: 70%;
}

.print__image-big {
  width: 100%;
  height: 539px;
}

.print__text {
  margin-top: 38px;
}

.print-text-margin {
  display: block;
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 105%;
}

.print__button {
  margin-top: 55px;
}

.fa-style {
  font-size: 20px;
}

@media screen and (max-width: 1399px) {
  .image__width {
    min-width: 383px;
  }

  .reviews-item {
    overflow-x: visible;
  }

  .reviews-item::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (max-width: 1199px) {
  .production__play {
    left: 47%;
  }

  .image__width {
    min-width: 320px;
  }

  .image-block {
    padding-top: 70px;
  }
}

@media screen and (max-width: 992px) {
  .print__min-image {
    width: 40%;
  }

  .print__image {
    height: 200px;
  }

  .print__big-image {
    width: 60%;
  }

  .print__image-big {
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .header__nav-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .header__nav-item li:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .catalog-slider__text {
    width: 90%;
  }

  .catalog-slider__left {
    width: 40%;
  }

  .catalog-slider__right {
    width: 60%;
  }

  .form__push {
    margin-top: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .form__button {
    margin-top: 20px;
  }

  .info__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__content {
    width: 100%;
  }

  .info__video {
    margin-top: 30px;
    width: 100%;
    height: 400px;
  }

  .production__play {
    left: 45%;
    top: 35%;
  }

  .order__item {
    width: 30%;
    padding: 0 10px;
  }

  .price__item {
    width: 32%;
  }

  .footer__social {
    margin-right: 30px;
  }

  .footer__contact {
    margin-left: 30px;
  }

  .neopren__content {
    margin-top: 30px;
  }

  .neopren__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .neopren__slider {
    width: 100%;
  }

  .neopren__text {
    margin-top: 30px;
    width: 100%;
  }

  .neopren-slider__right {
    width: 100%;
  }

  .neopren__heading {
    font-size: 20px;
  }

  .image__left {
    display: none;
  }

  .image__bottom {
    width: 100%;
  }

  .image__right {
    width: 100%;
  }

  .image__big {
    width: 100%;
  }

  .image__img {
    overflow: scroll;
  }

  .image-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .image__left-content {
    width: 400px;
  }

  .padding-mobile {
    padding-right: 21px;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav {
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .pring-block__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .print__min-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
  }

  .print__image {
    height: auto;
    margin: 0;
  }

  .print__image-magin {
    padding-right: 10px;
  }

  .print__image-bottom {
    padding-left: 10px;
  }

  .print__big-image {
    margin-top: 20px;
    width: 100%;
  }

  .print__image-big {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -300px;
    top: 0;
    position: absolute;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 100vh;
    background: rgba(248, 248, 248, 0.986);
    -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
            box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
    padding: 40px;
  }

  .open {
    right: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav-item:not(:last-child) {
    margin: 0 0 0 0;
  }

  .header__nav-item li {
    padding: 5px 0;
  }

  .header__nav-item li:not(:last-child) {
    margin: 0 0 0 0;
  }

  .header__nav-link {
    font-size: 20px;
  }

  .header__number {
    margin-top: 20px;
  }

  .header__mobile-clouse {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__open {
    font-size: 20px;
  }

  .header__clouse {
    font-size: 25px;
  }

  .catalog-block {
    padding-top: 100px;
  }

  .catalog-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog-slider__left {
    width: 90%;
    margin: auto;
  }

  .catalog-slider__right {
    margin-top: 30px;
    width: 100%;
  }

  .catalog-slider__button {
    margin-top: 30px;
  }

  .dekstop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .button__mobile {
    margin: auto;
  }

  .catalog__menu {
    margin-top: 80px;
  }

  .form {
    margin-top: 80px;
  }

  .form__position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }

  .form__content {
    width: 100%;
  }

  .form__shipment {
    margin-top: 30px;
    width: 100%;
  }

  .form__text-info {
    margin-top: 50px;
  }

  .block-info {
    padding-top: 100px;
  }

  .info__open-button {
    display: block;
    cursor: pointer;
    font-weight: bold;
    color: #00c4b3;
  }

  .info__clouse-text {
    margin-top: 20px;
    display: none;
  }

  .info__open-text {
    display: block;
  }

  .info__video {
    height: auto;
  }

  .production__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .production-block {
    padding-top: 100px;
  }

  .production__item-text {
    margin-top: 10px;
    width: 100%;
  }

  .production__item {
    margin-top: 30px;
  }

  .production__play {
    top: 33%;
    left: 43%;
  }

  .order-block {
    padding-top: 100px;
  }

  .order__list {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order__item {
    margin-top: 15px;
  }

  .order__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order__content {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price-block {
    padding-top: 50px;
  }

  .price__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
  }

  .price__item {
    margin-top: 30px;
    width: 100%;
  }

  .price__min-text {
    margin-top: 15px;
  }

  .question-block {
    padding-top: 100px;
  }

  .neopren__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .neopren__nav {
    margin-top: 30px;
  }

  .reviews__block {
    padding-top: 100px;
  }

  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__map {
    margin-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .info__item {
    padding: 40px 20px;
  }

  .neopren-reviews__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__button {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 184px;
  }

  .reviews-button__slider {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .production-block {
    padding-top: 60px;
  }

  .production__heading-min {
    font-size: 25px;
  }

  .footer-block {
    padding: 70px 10px;
  }
}

@media screen and (max-width: 469px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__police {
    position: static;
  }

  .footer__menu {
    margin-top: 15px;
  }

  .footer__contact {
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }

  .footer__menu-heading {
    margin-top: 10px;
  }

  .footer__social--link {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .production__play {
    top: 30%;
    left: 40%;
  }

  .production__play {
    top: 23%;
    left: 39%;
  }
}

@media screen and (max-width: 400px) {
  .price__content {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 350px) {
  .production__play {
    top: 22%;
    left: 37%;
  }
}